* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background-image: url(photos/room.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;  
  background-size: cover;
  }
  
  /* Style the header */
  header {
   
    padding: 20px;
    
    width: 30%;
    float: left;
    margin: 10px;
    text-align: center;
    
  }
  
  
  
  /* Style the top navigation bar */
  nav {
    float: left;
    overflow: hidden;
    background-color: green;
    width: 65%;
    margin-top: 1cm;
  
  }
  
  /* Style the topnav links */
  nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }
  
  /* Change color on hover */
  nav a:hover {
    background-color: #ddd;
    color: green;
    
  }
  
  
  article{
  clear: both;
  border-color: green;
  border-style: solid;
  background-color: green;
  margin: 2cm;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: ivory;
  height: 50px;
  }
  